<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=title%></title>
</head>
<body>
        
<div>
     <ul>
       
            <li class="active"><a href=""><%=book.title%></a></li>
          
      </ul>
      
</div>
</body>
</html>
